#include <windows.h>
#include "resource.h"

IDI_MULTI_TRAY ICON "resources\\tray.ico"
IDI_DWT_BALL_GREEN ICON "..\\..\\res\\BallGreen.ico"
IDI_DWT_BALLOON ICON "..\\..\\res\\Balloon.ico"
IDI_DWT_BALL_RED ICON "..\\..\\res\\BallRed.ico"
IDI_DWT_EXIT ICON "..\\..\\res\\Exit.ico"
IDI_DWT_GET_STARTED ICON "..\\..\\res\\GetStarted.ico"
IDI_DWT_LEFT ICON "..\\..\\res\\Left.ico"
IDI_DWT_PAUSE ICON "..\\..\\res\\Pause.ico"
IDI_DWT_PLAY ICON "..\\..\\res\\Play.ico"
IDI_DWT_REFRESH ICON "..\\..\\res\\Refresh.ico"
IDI_DWT_RIGHT ICON "..\\..\\res\\Right.ico"
IDI_DWT_UP ICON "..\\..\\res\\Up.ico"
